@font-face {
	font-family: 'Caslon-Bold';
	src: url('fonts/ACaslonPro-Bold.eot');
	src: local('â˜º'), 
		url('fonts/ACaslonPro-Bold.woff') format('woff'), 
		url('fonts/ACaslonPro-Bold.ttf') format('truetype'), 
		url('fonts/ACaslonPro-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Caslon-Semibold';
	src: url('fonts/ACaslonPro-Semibold.eot');
	src: local('â˜º'), url('fonts/ACaslonPro-Semibold.woff') format('woff'), url('fonts/ACaslonPro-Semibold.ttf') format('truetype'), url('fonts/ACaslonPro-Semibold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Caslon-Regular';
	src: url('fonts/ACaslonPro-Regular.eot');
	src: local('Ã¢ËœÂº'), url('fonts/ACaslonPro-Regular.woff') format('woff'), url('fonts/ACaslonPro-Regular.ttf') format('truetype'), url('fonts/ACaslonPro-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}



body{margin: 0; padding: 0;font-family: 'Open Sans', sans-serif;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
img{max-width: 100%;}
ul{margin: 0; padding: 0; list-style: none;}
ul li{display: inline-block; list-style: none;}
a{outline: none !important; text-decoration: none !important;}
p{font-size: 14px;color: #76797b;}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #c48769;
  letter-spacing: 0.8px;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #c48769;
  letter-spacing: 0.8px;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #c48769;
  letter-spacing: 0.8px;
}
:-moz-placeholder { /* Firefox 18- */
  color: #c48769;
  letter-spacing: 0.8px;
}


.btn {background: #c48769 none repeat scroll 0 0;border: 1px solid #be7b5a;border-radius: 0;color: #fff;display: inline-block;float: left;letter-spacing: 0.8px;padding: 10px 50px; font-weight: bold;}
.btn:hover{background: transparent; color: #c48769; border-color: #c48769;}




header{background: #efe0d9; display: inline-block;width: 100%; float: left; height: 100vh; padding: 185px 0 0 0;}
header .left-logo{display: inline-block;width: 50%; float: left;}
header .right-detail{display: inline-block;width: 50%; float: left;}
header .right-detail h1{font-size: 38px; line-height: 54px; margin: 32px 0 0; display: inline-block;width: 100%; float: left; font-family: 'Caslon-Regular'; color: #c48769;}
.scroll-down{position: absolute;left: 0; right: 0; bottom: 10%; display: block; margin: 0 auto; text-align: center;}
.scroll-down a{color: #c48769; font-size: 18px;font-family: 'Caslon-Regular'; position: relative; padding-top: 6%;}
.scroll-down a:after{position: absolute; content: ""; left: 0;right: 0; margin: 0 auto ; width: 1px; top: 0; bottom: 45px; background: #c48769;}



.delice-bg{background: url(../images/delice.png); background-attachment: fixed; background-repeat: no-repeat; background-size: cover; display: inline-block;width: 100%; float: left; padding: 190px 0;}
.delice-bg h2{color: #fff; margin: 0; line-height: normal; text-transform: uppercase;font-family: 'Caslon-Semibold';font-size: 130px;}
.title{ color: #c48769; font-weight:normal; font-size: 60px; font-family: 'Caslon-Regular'; margin: 0; display: inline-block; width: 100%; float: left; text-align: center;}


section{display: inline-block;width: 100%;float: left; padding: 95px 0 70px;}
.about-us{background: url(../images/bg.png); background-repeat: repeat;}
.about-us .title{margin: 0 0 80px;}
.about-us p{display: inline-block;width: 100%; float: left; text-align: center; margin: 0;}
.about-us p strong{margin: 0 0 24px; font-weight: 600; display: inline-block;width: 100%; float: left;}



.taste{background: url(../images/teste-bg.png);background-attachment: fixed; background-repeat: no-repeat; background-size: cover;}



.formulas{background: url(../images/bg.png); padding-bottom: 50px;}
.formulas h3{font-size: 20px; font-weight: 400; color: #c48769; margin: 0 0 40px; display: inline-block;width: 100%; float: left; text-align: center;}
.formulas .title{margin: 0 0 80px;}
.formulas p {display: inline-block;margin: 0 0 20px;float: left;padding: 0 17px;width: 100%;}



.gallery-blog{background: url(../images/bg.png);}
.gallery-blog .title ~ a {color: #76797b;display: inline-block;font-size: 18px;letter-spacing: 0.8px;margin: 20px 0 100px;text-align: center;}
.gallery-blog .title ~ a span{border-bottom: 1px solid #e0c0b0;}
.gallery-blog .col-md-3.col-sm-4.col-xs-6.text-center {padding: 0 10px 20px;}
.gallery-blog .col-md-3.col-sm-4.col-xs-6.text-center img {width: 100%;}
.gallery-blog .col-md-3.col-sm-4.col-xs-6.text-center:nth-child(4n+1) {
    clear: both;
}



.unique{background: url(../images/unique.bg.png);background-attachment: fixed; background-repeat: no-repeat; background-size: cover;}

.vibe{background: url(../images/vibe-bg.png);background-attachment: fixed; background-repeat: no-repeat; background-size: cover;}


.booking-form .title{margin:0 0 70px;}
.contact-form{display: table; margin: 0 auto;width: 100%; max-width: 460px; }
.contact-form .form{display: inline-block;  margin: 0 -5px 0; }
.contact-form .form p{padding: 0 5px; margin: 0; display: inline-block;width: 50%; float: left;}
input[type="text"]{background: #f1f3f4; width: 100%; border:0px solid transparent; padding: 5px 15px; margin: 0 0 10px; display: inline-block; height: 47px; border-radius: 0px;}
.contact-form .form p.textarea{width: 100%; }
textarea{width: 100%; background: #f1f3f4; border:0px solid transparent;padding: 15px; }


.contact-form .form .btn{margin: 20px 0 0 5px;}
.booking-form .col-md-6.col-sm-12.col-xs-12{padding-top: 48px;padding-bottom: 30px; }
.booking-form .col-md-6.col-sm-12.col-xs-12:first-child {border-right: 1px solid #d6ac97;}



.detail-contact h4{text-transform: uppercase; color: #c48769; font-size: 18px;font-family: 'Caslon-Regular'; display: inline-block;width: 100%; float: left; margin: 0 0 70px; }
.detail-contact a.phone, .detail-contact a.email{color: #c48769; display: block; clear: both;font-size: 11px;}
.icon{display: inline-block;width: 100%; float: left; margin: 100px 0 0}
.icon li a{background: #c48769; color: #fff; display: inline-block;width: 38px; height: 38px; line-height: 38px; text-align: center; float: left; margin: 0 3px 0 0; font-size: 20px;}
.icon li a i {
    line-height: 38px;
}


footer{background: #c48769; display: inline-block;width: 100%; text-align: center; float: left; padding: 27px 0;}


/*	6 September 2017 
= = = = = = = = = = = = = = = = = = = = = = = */

.formulas .col-md-4.col-sm-6.col-xs-12.text-center { margin-bottom: 40px; }
.contact-form form input#phone { width: 77%; margin-left: 3%; float: left; }
.contact-form form input.country-code { width: 20%; float: left; padding: 10px; color: #be7b5a; }





@media screen and (max-width: 1024px){
	header{padding: 15% 0 0;}
	header .left-logo{padding: 0 50px 0 0; }
	header .right-detail h1{font-size: 28px; line-height: 44px; margin: 15% 0 0; padding: 0 0 0 50px;}
	section{padding: 65px 0 40px;}
	.delice-bg h2{font-size: 90px;}
	.about-us .title, .formulas .title, .booking-form .title{margin: 0 0 50px;}
	.formulas h3{margin: 0 0 20px; font-size: 18px;}
	.formulas p{padding:0; }
	.gallery-blog .title ~ a{margin: 20px 0 50px;}
}


@media screen and (max-width: 991px){
	.booking-form .col-md-6.col-sm-12.col-xs-12:first-child {
	    border-bottom: 1px solid #d6ac97;
	    border-right: 0px solid transparent;

	}
	section.about-us p br {
	    display: none;
	}
	.booking-form .col-md-6.col-sm-12.col-xs-12:first-child{padding-top: 0;}
	.formulas .col-md-4.col-sm-6.col-xs-12.text-center { min-height: 200px; }

}




@media screen and (max-width: 768px){
	.delice-bg h2 {
	    font-size: 60px;
	}
	.title{font-size: 40px;}
	.detail-contact h4{margin: 0 0 30px;}
	.icon{margin: 30px 0 0;}
	.scroll-down{bottom: 30px;}
	.scroll-down a{padding-top: 14%;}
	.gallery-blog .col-md-3.col-sm-4.col-xs-6.text-center:nth-child(2n+1) {
	    padding-left: 20px;
	}
	.gallery-blog .col-md-3.col-sm-4.col-xs-6.text-center:nth-child(2n) {
	    padding-right: 20px;
	}
	.col-md-3.col-sm-6.col-xs-12.text-center {
		
	    padding-bottom: 20px;
	}
}

@media only screen and (max-width: 767px) {
	.formulas .col-md-4.col-sm-6.col-xs-12.text-center { min-height: auto; }
}


@media screen and (max-width: 736px){
	header{padding: 20px 0 0;}
	header .right-detail h1 {
	    font-size: 24px;
	    line-height: 34px;
	    margin: 15% 0 0;
	    padding: 0 0 0 30px;
	}
}




@media screen and (max-width: 480px){
	header .right-detail{width: 100%; text-align: center; padding: 0;}
	header .left-logo {
	    padding: 0;
	    width: 100%;
	    text-align: center;
	    max-width: 150px;
	    display: table;
	    margin: 0 auto;
	    float: none;
	}
	header .right-detail h1{padding:0; }
	.delice-bg h2 {
	    font-size: 40px;
	}
	section {
	    padding: 35px 0 10px;
	}
	.formulas{padding-bottom: 15px;}
	section.about-us{padding: 35px 0;}
	.about-us .title, .formulas .title, .booking-form .title{margin: 0 0 10px;}
	.delice-bg{padding: 70px 0; background-size: cover;}
	.contact-form .form p{width: 100%;}
}


@media screen and (max-width: 360px){
	.col-md-3.col-sm-6.col-xs-6.text-center{width: 100%;}
}






